html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0 !important;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  height: auto;
  overflow-x: hidden;
}

.body-wrapper {
  overflow-x: hidden;
}

/* BUTTONS */
.green {
  transition: all 0.1s ease-in-out;
  background: #79c359;
  border-color: #79c359;
  color: #79c359;
  text-decoration: none;
}

.green:hover,
.green:focus {
  background: #adca7c;
  border-color: #adca7c;
  color: #fff;
  text-decoration: none;
}

.white {
  transition: all 0.1s ease-in-out;
  border-color: #ffffff;
  color: #ffffff;
  text-decoration: none;
}

.white:hover,
.white:focus {
  border-color: #ffffff;
  background: #ffffff;
  color: #333333;
  text-decoration: none;
}

.solid {
  border: none;
  color: #fff;
  padding: 9px 18px;
  margin: 0 2px;
  font-size: 13px;
  border-radius: 3px;
  cursor: pointer;
  letter-spacing: 0.065em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.outline {
  border: 2px solid;
  background: transparent;
  padding: 9px 18px;
  margin: 0 2px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 3px;
  cursor: pointer;
  letter-spacing: 0.065em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 5px;
}

.coming-soon {
  display: inline-block;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  padding: 9px 18px;
  margin: 0 2px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 3px;
  cursor: default;
  letter-spacing: 0.065em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 5px;
  opacity: 0.6;
}

.coming-soon:hover {
  text-decoration: none;
  color: #fff;
}

.site-container {
  position: relative;
}

.hero-block {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-image: url("/web/20170302042828im_/http://hypestarter.com/ui/web/services/images/hero3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.nav-bar {
  background: transparent;
  padding: 45px 100px;
}

.nav-bar img {
  position: relative;
  top: -10px;
}

.main-nav {
  float: right;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.main-nav li {
  float: left;
}

.main-nav li a.main-nav-link {
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.065em;
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
  margin: 0 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.main-nav li a.main-nav-link:hover {
  color: #79c359;
}

.hero-text {
  position: absolute;
  top: 31%;
  width: 100%;
  text-align: center;
}

h1.hero-title {
  font-size: 68px;
  font-weight: 300;
  color: #79c359;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  margin: 0;
  line-height: 100px;
}

h2.hero-subtitle {
  font-size: 32px;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0;
}

.hero-btn {
  margin-top: 50px;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 5px;
}

.logo-bar {
  position: relative;
  width: 100%;
  height: 80px;
  bottom: 0;
  background: #fff;
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.15);
}

.logo-img-container {
  display: flex;
  max-width: 1330px;
  height: 80px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.logo-img-container img {
  height: 75px;
}

.split-value-prop {
  position: relative;
  z-index: 998;
}

.value-prop-block {
  position: relative;
  width: 50%;
  height: 500px;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.value-prop-block.left {
  background-image: url("/web/20170302042828im_/http://hypestarter.com/ui/web/services/images/value-prop-left.jpg");
}

.value-prop-block.right {
  background-image: url("/web/20170302042828im_/http://hypestarter.com/ui/web/services/images/value-prop-right.jpg");
}

.value-prop-text {
  position: absolute;
  top: 31%;
  width: 100%;
  text-align: center;
}

h3.value-prop-title {
  font-size: 48px;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  margin: 0 0 10px;
}

h4.value-prop-subtitle {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  margin: 0 0 30px;
  line-height: 34px;
}

.scroll-control {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
}

.scroll-icon {
  transition: all 0.1s ease-in-out;
  background: transparent;
  cursor: pointer;
  color: #fff;
  height: 45px;
  width: 45px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 50%;
}

.scroll-icon:hover {
  background: #fff;
}

.scroll-icon i {
  transition: all 0.1s ease-in-out;
  font-size: 24px;
  line-height: 44px;
}

.scroll-icon:hover i {
  color: #333;
}

.hiw {
  background: #f7f7f7;
  width: 100%;
  text-align: center;
  padding: 60px 0;
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 997;
}

.hiw-container {
  display: flex;
  max-width: 1330px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

h3.section-title {
  color: #555555;
  font-size: 48px;
  font-weight: 300;
  margin: 0 0 15px;
}

.hiw-block {
  display: inline-block;
  width: 280px;
}

.hiw-icon {
  margin: 0 auto;
  height: 80px;
  width: 80px;
  border: 2px solid #777777;
  border-radius: 50%;
}

.hiw-icon i {
  font-size: 38px;
  color: #777;
  line-height: 78px;
}

.hiw-title {
  font-size: 24px;
  color: #777;
  margin: 5px 0;
}

.hiw-body {
  font-size: 13px;
  color: #a0a0a0;
  font-weight: 600;
  line-height: 20px;
}

.cta-container {
  max-width: 1145px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

.cta-text,
.cta-button {
  display: inline-block;
}

.trending-container {
  max-width: 1145px;
  margin: 0 auto;
  text-align: center;
}

.cta-text {
  font-size: 18px;
  color: #dddddd;
  margin-right: 10px;
  position: relative;
  top: 2px;
  width: 678px;
}

.cta-text span {
  font-weight: 600;
  color: #ffffff;
  margin-right: 7px;
}

.cta-eg {
  position: relative;
  background-image: url("/web/20170302042828im_/http://hypestarter.com/ui/web/services/images/cta-eg1.png");
  background-size: cover;
  height: 175px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.25);
}

.ribbon-dark {
  position: relative;
  background: #333333;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.25);
}

.ribbon-white {
  position: relative;
  background: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.25);
}

.ribbon-gray {
  position: relative;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.25);
}

.ribbon-content {
  position: relative;
  width: 50%;
  display: inline-block;
}

.ribbon-content.graphic img {
  padding: 50px 25px;
}

.ribbon-content.graphic img.img-social {
  padding: 0;
  display: block;
}

.ribbon-content .ribbon-text {
  max-width: 750px;
  margin: 0 auto;
  padding: 50px 25px;
}

.ribbon-gray .graphic,
.ribbon-white .graphic {
  text-align: center;
}

.section-body p {
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  color: #777777;
  margin: 0 0 15px;
}

.ribbon-testi {
  position: relative;
  background: rgb(121, 195, 89);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(121, 195, 89, 1) 0%,
    rgba(77, 163, 48, 1) 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(121, 195, 89, 1) 0%,
    rgba(77, 163, 48, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(121, 195, 89, 1) 0%,
    rgba(77, 163, 48, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79c359', endColorstr='#4da330',GradientType=1 );
  box-shadow: inset 0px 0px 15px -1px rgba(0, 0, 0, 0.25);
}

.testi-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 80px 150px;
  text-align: center;
}

.testi-quote {
  font-size: 22px;
  color: #ffffff;
  font-style: italic;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
  line-height: 32px;
}

.testi-prev-icon {
  transition: all 0.1s ease-in-out;
  position: absolute;
  left: 7%;
  top: 45%;
  cursor: pointer;
  color: #fff;
  height: 55px;
  width: 55px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  opacity: 0.5;
}

.testi-prev-icon:hover {
  opacity: 1;
}

.testi-prev-icon i {
  transition: all 0.1s ease-in-out;
  font-size: 28px;
  line-height: 52px;
  position: relative;
  left: -2px;
}

.testi-next-icon {
  transition: all 0.1s ease-in-out;
  position: absolute;
  right: 7%;
  top: 45%;
  cursor: pointer;
  color: #fff;
  height: 55px;
  width: 55px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  opacity: 0.5;
}

.testi-next-icon:hover {
  opacity: 1;
}

.testi-next-icon i {
  transition: all 0.1s ease-in-out;
  font-size: 28px;
  line-height: 52px;
  position: relative;
  right: -2px;
}

.testi-author-image {
  width: 85px;
  height: 85px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 50px auto 5px;
  border-radius: 50%;
  box-shadow: 0px 4px 14px -7px rgba(0, 0, 0, 2);
  border: 4px solid #76c157;
}

.testi-author-name {
  font-size: 20px;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
}

.testi-author-title {
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
}

.embed-logo-container {
  display: flex;
  max-width: 680px;
  margin: 35px 0 0;
  align-items: center;
  justify-content: space-between;
}

.ribbon-pricing {
  background-image: url("/web/20170302042828im_/http://hypestarter.com/ui/web/services/images/pricing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 100px 0 50px;
}

h3.pricing-title {
  font-size: 52px;
  font-weight: 300;
  color: #79c359;
  text-align: center;
  margin: 0;
}

h4.pricing-subtitle {
  font-size: 28px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin: 0px 0 20px;
  line-height: 40px;
}

.pricing-table {
  display: flex;
  max-width: 1330px;
  margin: 25px auto;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
}

.plan-container {
  transition: all 0.075s ease-in-out;
  display: inline-block;
  padding: 30px 0 0;
  width: 300px;
  margin: 0;
  vertical-align: top;
  text-align: center;
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.5);
}

.tier-name {
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}

.tier-price {
  color: #a3c46a;
  font-size: 70px;
  font-weight: 100;
  letter-spacing: -2px;
  margin: 35px 0px;
}

.tier-price .dollar {
  position: relative;
  top: -35px;
  font-size: 24px;
  font-weight: 400;
  left: -2px;
}

.tier-price .period {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 2px;
}

.price-sub-head {
  font-style: italic;
  color: #aaaaaa;
  font-size: 13px;
  margin-bottom: 30px;
}

.choose-btn {
  transition: all 0.075s ease-in-out;
  cursor: pointer;
  background: #79c359;
  width: 100%;
  height: 44px;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  display: block;
  text-decoration: none;
}

.choose-btn:hover {
  color: #fff;
  background: #adca7c;
  text-decoration: none;
}

.pro-block {
  position: relative;
}

.pro-block .pro {
  position: relative;
  padding: 15px 0;
  background: #ffffff;
  font-size: 12px;
  color: #333;
}

.pro-block .pro.even {
  background: #f7f7f7;
}

.pro-block .pro i {
  position: absolute;
  right: 10px;
  top: 18px;
}

.pro-tip-head {
  color: #79c359;
  font-weight: 600;
  font-size: 11px;
}

.pro-tip-head img {
  margin: 3px 3px 3px 0;
  position: relative;
  top: -3px;
}

.pricing-faqs {
  display: flex;
  max-width: 1330px;
  margin: 25px auto;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 15px 15px;
}

.pricing-faq-col {
  width: 48%;
}

.pricing-faq-title {
  font-size: 24px;
  color: #333333;
  margin: 5px 0;
}

.pricing-faq-body {
  font-size: 14px;
  color: #777777;
  font-weight: 600;
  margin-bottom: 40px;
  line-height: 22px;
}

.footer-container {
  display: flex;
  width: 100%;
  max-width: 1330px;
  margin: 25px auto;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px 15px 15px;
}

.footer-col {
  width: 50%;
}

.footer-col.right {
  display: flex;
  width: 50%;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between;
}

.copyright {
  font-size: 11px;
  color: #a0a0a0;
}

.footer-col ul {
  list-style: none;
  width: 100%;
  padding-left: 25px;
}

.footer-title {
  font-weight: 700;
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-link {
  font-size: 13px;
  margin-bottom: 7px;
  color: #777;
}

.footer-link a {
  transition: all 0.1s ease-in-out;
  color: inherit;
  text-decoration: none;
}

.footer-link a:hover {
  color: #79c359;
  text-decoration: none;
}

/* TABLET LANDSCAPE / DESKTOP BRIDGE */

@media screen and (max-width: 1200px) {
  h1.hero-title {
    font-size: 60px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    line-height: 60px;
    margin-bottom: 20px;
  }

  h2.hero-subtitle {
    font-size: 38px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  }

  .logo-img-container {
    padding: 0 10px;
    height: 100%;
  }

  .logo-img-container img {
    height: 65px;
  }

  .value-prop-block {
    height: 400px;
  }

  h3.value-prop-title {
    font-size: 38px;
  }

  h4.value-prop-subtitle {
    font-size: 19px;
    line-height: inherit;
  }

  .hiw-block {
    margin: 0 15px;
  }

  .hiw-icon {
    height: 65px;
    width: 65px;
  }

  .hiw-icon i {
    font-size: 28px;
    line-height: 62px;
  }

  .hiw-title {
    font-size: 20px;
  }

  .hiw-body {
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.02em;
  }

  h3.section-title {
    font-size: 40px;
  }

  .section-body p {
    font-size: 14px;
  }

  .ribbon-content.graphic img {
    max-width: 100%;
  }

  .ribbon-content.graphic img.img-social {
    padding: 0;
    display: block;
    max-width: 655px;
  }

  .ribbon-content .ribbon-text {
    padding: 50px 15px;
  }

  .pricing-table {
    padding: 10px;
  }

  .plan-container {
    width: 245px;
  }

  .pro-block .pro {
    font-size: 11px;
  }

  .pro-block .pro i {
    right: 6px;
  }

  .pricing-faq-title {
    font-size: 22px;
  }

  .pricing-faq-body {
    font-size: 13px;
    line-height: 20px;
  }

  .footer-col ul {
    padding-left: 18px;
  }
}

/* TABLETS */

@media screen and (max-width: 1000px) {
  .main-nav li a {
    border: none;
    margin: 0 !important;
    padding: 0 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }

  .main-nav li a:hover {
    border: none;
    margin: 0;
    padding: 0 5px;
    background: transparent;
    color: #79c359;
  }

  .nav-bar img {
    display: block;
    margin: 0 auto;
  }

  .main-nav {
    float: none;
    margin-top: 10px;
    text-align: center;
  }

  .main-nav li {
    float: none;
    display: inline-block;
  }

  .logo-img-container {
    overflow-y: hidden;
    display: block;
    text-align: center;
  }

  .logo-bar {
    height: 55px;
  }

  .logo-img-container img {
    display: inline-block;
    margin: 0 15px;
    height: 55px;
  }

  .hero-text {
    top: 33%;
  }

  h1.hero-title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
  }

  h2.hero-subtitle {
    font-size: 35px;
  }

  .value-prop-block {
    height: 360px;
  }

  h3.value-prop-title {
    font-size: 30px;
  }

  h4.value-prop-subtitle {
    font-size: 15px;
  }

  .scroll-control {
    display: none;
  }

  .hiw-container {
    display: block;
    max-width: 100%;
  }

  .hiw-block {
    margin: 20px;
  }

  .hiw-body {
    font-size: 12px;
  }

  .ribbon-white {
    display: block;
    text-align: center;
  }

  .ribbon-gray {
    display: block;
    text-align: center;
  }

  .ribbon-content {
    width: 100%;
  }

  .ribbon-content.graphic img {
    padding: 25px;
    width: 80%;
  }

  .ribbon-content.graphic img.img-social {
    display: inline-block;
    margin-bottom: 0;
  }

  .ribbon-content .ribbon-text {
    padding: 25px;
  }

  h3.section-title {
    font-size: 40px;
  }

  .section-body p {
    font-size: 15px;
  }

  .embed-logo-container {
    max-width: 99%;
  }

  h3.pricing-title {
    font-size: 40px;
  }

  h4.pricing-subtitle {
    font-size: 26px;
  }

  .pricing-table {
    display: block;
    text-align: center;
  }

  .plan-container {
    margin: 15px;
  }

  .pricing-faqs {
    display: block;
    margin: 0 auto;
  }

  .pricing-faq-col {
    width: 100%;
  }

  .footer-container {
    display: block;
    margin: 0 auto;
  }

  .footer-col {
    width: 100%;
  }

  .footer-col.right {
    display: block;
    width: 100%;
  }

  .footer-col img {
    display: inline-block;
    margin-top: 10px;
  }

  .footer-col ul {
    width: 30%;
    padding-left: 0;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
  }

  .cta-text {
    text-align: center;
    margin-bottom: 25px;
    padding: 0 5px;
    width: 100%;
  }
}

/* PHONES PORTRAIT / LANDSCAPE */

@media screen and (max-width: 736px) {
  .nav-bar {
    padding: 30px 0px;
  }

  .hero-btn {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 13px;
    border-radius: 5px;
  }

  .hero-text {
    top: 37%;
    padding: 0 5px;
  }

  h1.hero-title {
    font-size: 31px;
    line-height: 41px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
  }

  h2.hero-subtitle {
    font-size: 22px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  }

  .scroll-control {
    bottom: 5%;
  }

  .scroll-icon {
    height: 30px;
    width: 30px;
  }

  .scroll-icon i {
    font-size: 18px;
    line-height: 28px;
  }

  .logo-bar {
    height: 40px;
  }

  .logo-img-container img {
    display: inline-block;
    margin: 0 15px;
    height: 40px;
  }

  .value-prop-block {
    width: 100%;
  }

  .section-body p {
    font-size: 15px;
  }

  h3.section-title {
    font-size: 33px;
  }

  .ribbon-content.graphic img {
    width: 100%;
  }

  .testi-container {
    padding: 80px;
  }

  .testi-quote {
    font-size: 16px;
    line-height: 24px;
  }

  .testi-author-image {
    width: 70px;
    height: 70px;
    margin: 24px auto 5px;
    border: 3px solid #76c157;
  }

  .testi-author-name {
    font-size: 16px;
  }

  .testi-author-title {
    font-size: 12px;
  }

  .testi-next-icon {
    height: 35px;
    width: 35px;
    right: 3%;
  }

  .testi-next-icon i {
    font-size: 21px;
    line-height: 31px;
    right: -1px;
  }

  .testi-prev-icon {
    height: 35px;
    width: 35px;
    left: 3%;
  }

  .testi-prev-icon i {
    font-size: 21px;
    line-height: 31px;
    left: -1px;
  }

  .embed-logo-container {
    display: block;
  }

  .embed-logo-container img {
    margin: 10px;
    vertical-align: middle;
  }

  .ribbon-pricing {
    padding: 55px 10px 50px;
  }

  h3.pricing-title {
    font-size: 32px;
    margin-bottom: 5px;
  }

  h4.pricing-subtitle {
    font-size: 20px;
    margin: 0px 0 55px;
  }

  .plan-container {
    width: 300px;
  }

  .pricing-faq-title {
    font-size: 19px;
  }

  .footer-title {
    font-size: 13px;
  }

  .footer-link {
    font-size: 11px;
  }
}

/* PHONES PORTRAIT */

@media screen and (max-width: 415px) {
  .scroll-control {
    display: none;
    bottom: 5%;
  }

  .hero-text {
    top: 34%;
  }

  h1.hero-title {
    font-size: 36px;
    line-height: 39px;
  }

  h2.hero-subtitle {
    font-size: 23px;
    line-height: 33px;
  }

  .testi-quote {
    font-size: 13px;
    line-height: 19px;
  }
}

/* OLDER PHONES */

@media screen and (max-width: 374px) {
  .outline {
    font-size: 10px;
    padding: 9px 9px;
  }

  .coming-soon {
    font-size: 10px;
    padding: 9px 9px;
  }

  .main-nav li a.main-nav-link {
    font-size: 10px;
    margin: 0 5px;
  }

  .hero-text {
    top: 32%;
  }

  h1.hero-title {
    font-size: 28px;
    line-height: 34px;
  }

  h2.hero-subtitle {
    font-size: 18px;
    line-height: 27px;
  }

  h3.value-prop-title {
    font-size: 21px;
  }

  h4.value-prop-subtitle {
    font-size: 12px;
  }

  .hiw-block {
    margin: 20px 0px;
    padding: 0 5px;
  }

  .testi-container {
    padding: 45px;
  }

  .testi-next-icon {
    height: 25px;
    width: 25px;
  }

  .testi-next-icon i {
    font-size: 16px;
    line-height: 13px;
    right: -1px;
    top: 1px;
  }

  .testi-prev-icon {
    height: 25px;
    width: 25px;
  }

  .testi-prev-icon i {
    font-size: 16px;
    line-height: 13px;
    right: -1px;
    top: 1px;
  }

  .pricing-table {
    padding: 0px;
  }

  .plan-container {
    width: 250px;
  }

  .footer-title {
    font-size: 12px;
  }

  .footer-link {
    font-size: 10px;
  }

  .footer-col ul {
    width: 32%;
  }
}
/*
     FILE ARCHIVED ON 04:28:28 Mar 02, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:33:10 Mar 14, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 0.668
  esindex: 0.013
  exclusion.robots: 0.357
  captures_list: 108.715
  exclusion.robots.policy: 0.341
  PetaboxLoader3.resolve: 52.278
  load_resource: 93.948
  CDXLines.iter: 22.984 (3)
  LoadShardBlock: 80.615 (3)
  PetaboxLoader3.datanode: 96.518 (4)
*/
